div.port {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    border: 3px solid black;
    border-radius: 3%;
    background-image: url("port.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-animation-name: diapo9;
    -webkit-animation-duration: 17s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}
@-webkit-keyframes diapo9 {
    25%{background-image: url("marche.JPG");}
    50%{background-image: url("vuepapeete.JPG");}
    
}


@media screen and (min-width:1000px){
     div.port{
    margin: 0 auto;
    width: 960px;
    height: 500px;
    border: 3px solid black;
    border-radius: 3%;
    background-image: url("port.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-animation-name: diapo9;
    -webkit-animation-duration: 17s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}
}